@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    margin: 0;
    background-color: rgb(15, 153, 22);
}

.header{
    width: 100%;
    min-width: 1200px;
    background: linear-gradient(to right ,#22b14c,#5c6d61);
} 

.header-text{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-text nav{
    font-size: 24px;
}


.header-text nav a{
    text-decoration: none;
    margin: 20px;
    color: aliceblue;
    font-size: 23px;
    transition: 0.5s;
    

}

.header nav a:hover{
    width: 100%;
    font-size: 23px;
    color: rgb(0, 49, 33);
    text-decoration: none;
    margin: 20px;
}

.menu-btn{
    width:80px;
    height: 70px;
    margin: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: black;
    border-radius: 10px ;
}

.menu-btn span{
    display: none;
    
}


.menu-btn::before{
    content: '';
    position: absolute;
    height: 5px;
    width: 60px;
    left: 10px;
    border-radius: 30px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 0px 15px 0px rgb(255, 255, 255),
                0px -15px 0px rgb(255, 255, 255);
}

.about{
    width: 100%;
    
}
.about-test{
    width: 1200px;
    padding: 30px;
    margin: auto;
    background-color: #34854c;
    color: antiquewhite;
}
.about-mix-test{
    text-align: center;
}
.about-mix-test img{
    width: 100%;
}

.about-mix-test li{
    text-align: left;
    font-weight: 100;
}
.about-mix-test ul{
    font-weight: 600;
    text-align: left;
}

.about-strong{
    text-align: left;
}

.content{
    width: 1210px;
    margin: auto;
}
.img-style{
 display: flex;
 flex-wrap: wrap;
 
}



.img2{
   width: 50%;
}

.img2 img{
   width: 600px;
   height: 400px;
   vertical-align: middle;
}

.test-style{
    width: 50%;
    background-color: rgba(0, 30, 114, 0.8);
    margin: auto;
    padding: 20px 30px;
    color: rgb(161, 131, 131);
    position: relative;
    right: 10%;
    box-sizing: border-box;
}

.test-style-2{
    width: 50%;
    background-color: rgba(0, 105, 47, 0.8);
    margin: auto;
    position: relative;
    right: -10%;
    color: rgb(15, 24, 44);
    padding: 20px 30px;
    box-sizing: border-box;
}


.img-style p{
 font-size: 30px;
 font-weight: 700;
}
.img-style h3{
font-size: 20px;
font-weight: 100;
}

.test-style:first-child{
    background-color: #00942c;
}

.fist3{
    background-color: rgb(15, 153, 22);
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
}



.page{
    margin: 10px;
    width: 380px;
    background-color: antiquewhite;
    border-radius:  5px;
    border-style: none;
    border-color: black;
}

.fist3 .page:hover{
    transform: translateY(-5px);
    transition: 1s;
}

.title{
    width: 100%;
    min-width: 1200px;
    font-size: 50px;
    text-align: center;
    color: aquamarine;
    border-bottom: 3px solid rgb(255, 255, 255);
    
}

.tab{
    background-color: red;
    color: rgb(255, 255, 255);
    position: absolute;
    padding: 10px 30px;
    font-size: 30px;
    z-index: 1;
}

.page img{
    width: 380px;
    height: 280px;
    transition: 0.5s;
    opacity: 70%;
}

.page img:hover{
    opacity: 1;
}

.page div{
    font-size: 15px;
    text-align: center;
    
}

.span-font{
    font-weight: bold;
    font-size: 20px;
}


.content2{
    width: 100%;
}
.hiking-trail{
    width: 1200px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 211, 153);
    box-sizing: 1;
}
.hiking-trail img{
    width: 550px;
    border: 10px solid white;
    margin: 3px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.hiking-trail-text{
    width: 550px;
    margin: 20px;
   
}
.hiking-trail h3{
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin: 0;
}
.hiking-trail ul{
    font-size: 16px;
}
.hiking-trail ul li{
    margin-top: 5px;
    font-size: 14px;
}

.content3{
    width: 1200px;
    display: flex;
    margin: auto;
}

.png{
    width: 100%;
   position: relative;
}

.png-test{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
}
.png-2-1{
    width: 300px;
    height: 200px;
   
}

.png-2-1 img{
    width: 100%;
    vertical-align: bottom;
}
.png img{
    width: 600px;
    height: 400px;
    
}
.png-2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}

.png-2-1{
    position: relative;
    
}

.png-2-1 img{
    width: 300px;
    height: 200px;
    
}

.js-switch-pt{
    width: 100%;
}

.js-switch-pt-2{
    width: 1200px;
    display: flex;
    margin: auto;
}

.js-change-pt{
    
}

.js-change-pt img{
    width: 1200px;
    height: 720;

}

.footer{
    width: 100%;
    min-width: 1200px;
    background: linear-gradient(-30deg,rgb(25, 41, 21),rgb(65, 170, 73),rgb(0, 184, 15));
}
.footer-width{
    width: 1200px;
    display: flex;
    margin: auto;
    box-sizing: border-box;
    
}

.footer-page{
  width: 100%;
  margin: 10px;

}
.footer-page h3{
    color: aliceblue;
    border-bottom: 1px solid white;
}
.footer-page nav{
    width: 100px;
    display: flex;
    flex-direction: column;
}

.footer-page div{
    display: flex;
    flex-direction: row;
}s

.footer-page nav a:hover{
    color: rgb(255, 238, 0);
}
.end{
    width: 100%;
    min-width: 1200px;
    height: 50px;
    background-color: rgb(0, 36, 16);
    color: aquamarine;
    text-align: center;
    padding-top: 40px;
    font-size: 18px;
}